<!DOCTYPE html>
<html lang="hy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer Form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Answerstyles.css') }}">
</head>
<body>
    <h1>ՀԱՐՑԱԹԵՐԹԻԿ</h1>
    <form method="post">
        <label for="fullname">Անուն Ազգանուն Հայրանուն</label><br>
        <input type="text" id="fullname" name="fullname"><br><br>
        <label for="dateofbirth">Ծննդյան ամսաթիվ</label><br>
        <input type="text" id="dateofbirth" name="dateofbirth"><br><br>
        <label for="education">Կրթություն և Գիտական կոչում</label><br>
        <input type="text" id="education" name="education"><br><br>
        <label for="workinghours">Դասաժամեր(տարեկան ծանրաբեռնվածություն)</label><br>
        <input type="text" id="workinghours" name="workinghours"><br><br>
        <label for="subjectfullname">Դասավանդվող առարկաների անվանումը</label><br>
        <input type="text" id="subjectfullname" name="subjectfullname"><br><br>
        <label for="curriculum">Առարկայական ծրագրի առկայությունը</label><br>
        <input type="text" id="curriculum" name="curriculum"><br><br>
        <label for="manuals">Դասագրքեր,մենագրություններ, ուսումնական ձեռնարկներ</label><br>
        <input type="text" id="manuals" name="manuals"><br><br>
        

        <label for="question1">Գիտական աստիճանի առկայությունը:</label><br>
        <input type="radio" id="q1_option1" name="question_1" value="option1">
        <label for="q1_option1">առկա է գիտության դոկտորի գիտական աստիճան</label><br>
        <input type="radio" id="q1_option2" name="question_1" value="option2">
        <label for="q1_option2">առկա է գիտության թեկնածուի գիտական աստիճան</label><br>
        <input type="radio" id="q1_option3" name="question_1" value="option3">
        <label for="q1_option3">գիտական աստիճան առկա չէ</label><br>
        <br>

        <label for="question2">Վերջին 3 տարվա գիտական աշխատանքների առկայություն:</label><br>
        <input type="radio" id="q2_option1" name="question_2" value="option1">
        <label for="q2_option1">3 և ավելի գիտական հոդված կամ 1 և ավելի մենագրություն կամ ուսումնական ձեռնարկ</label><br>
        <input type="radio" id="q2_option2" name="question_2" value="option2">
        <label for="q2_option2">մինչև 3 գիտական հոդվածի կամ աշխատանքի առկայություն</label><br>
        <input type="radio" id="q2_option3" name="question_2" value="option3">
        <label for="q2_option3">գիտական աշխատանքներ վերջին 3 տարում առկա չեն</label><br>
        <br>

        <label for="question3">Վերջին 3 տարիներին գիտական միջոցառումներին(գիտաժողովներ, գիտական սեմինարներ, քննարկումներ)
            մասնակցությունը:</label><br>
        <input type="radio" id="q3_option1" name="question_3" value="option1">
        <label for="q3_option1">3-ից ավել մասնակցություն</label><br>
        <input type="radio" id="q3_option2" name="question_3" value="option2">
        <label for="q3_option2">1-3 մասնակցություն</label><br>
        <input type="radio" id="q3_option3" name="question_3" value="option3">
        <label for="q3_option3">մասնակցություն առկա չէ</label><br>
        <br>

        <label for="question4">Վերջին 3 տարիներին վերապատրաստման դասընթացներին մասնակցությունը:</label><br>
        <input type="radio" id="q4_option1" name="question_4" value="option1">
        <label for="q4_option1">3-ից ավել մասնակցություն</label><br>
        <input type="radio" id="q4_option2" name="question_4" value="option2">
        <label for="q4_option2">1-3 մասնակցություն</label><br>
        <input type="radio" id="q4_option3" name="question_4" value="option3">
        <label for="q4_option3">մասնակցություն առկա չէ</label><br>
        <br>
        
        <label for="question5">Վերջին 3 տարիներին հետազոտական կամ դրամաշնորհային ծրագրերին մասնակցությունը:</label><br>
        <input type="radio" id="q5_option1" name="question_5" value="option1">
        <label for="q5_option1">3-ից ավել մասնակցություն</label><br>
        <input type="radio" id="q5_option2" name="question_5" value="option2">
        <label for="q5_option2">1-3 մասնակցություն</label><br>
        <input type="radio" id="q5_option3" name="question_5" value="option3">
        <label for="q5_option3">մասնակցություն առկա չէ</label><br>
        <br>

        <label for="question6">Օտար լեզվի իմացությունը:</label><br>
        <input type="radio" id="q6_option1" name="question_6" value="option1">
        <label for="q6_option1">C մակարդակ</label><br>
        <input type="radio" id="q6_option2" name="question_6" value="option2">
        <label for="q6_option2">B մակարդակ</label><br>
        <input type="radio" id="q6_option3" name="question_6" value="option3">
        <label for="q6_option3">A և ցածր մակարդակ</label><br>
        <br>

        <label for="question7">Օտար լեզվով դասավանդման փորձը:</label><br>
        <input type="radio" id="q7_option1" name="question_7" value="option1">
        <label for="q7_option1">3 տարուց ավելի </label><br>
        <input type="radio" id="q7_option2" name="question_7" value="option2">
        <label for="q7_option2">Մինչև 3 տարի</label><br>
        <input type="radio" id="q7_option3" name="question_7" value="option3">
        <label for="q7_option3">Օտար լեզվով դասավանդման փորձ առկա չէ </label><br>
        <br>

        <input type="submit" value="Հաստատել">
    </form>
    
</body>
</html>