<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Որոնել</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Archivestyles.css') }}">
</head>

<body>
    <h1>Որոնել</h1>
    <form action="/search" method="POST">
        <label for="search_query">Մուտքագրեք որոնման հարցումը:</label>
        <input type="text" id="search_query" name="search_query" required>
        <button type="submit">Որոնել</button>
    </form>
</body>
<footer>
    <a href="/"><button>Գլխավոր էջ</button></a>
</footer>

</html>